.App {
  display: flex;
}

body {
  font-size: 16px;
  font-family: "brandon-grotesque";
}

input {
  -webkit-appearance: none;
}

label {
  color: grey;
}

.error {
  padding: 3rem;
}

.nav {
  width: 350px;
  height: 100vh;
  position: fixed;
  background-color: #e45c5c;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "brandon-grotesque";
  font-weight: bold;
  font-size: 1.3rem;
}

.nav > div {
  width: 100%;
}

.nav a {
  display: block;
  width: 100%;
  padding: 2rem 0;
  text-align: center;
  color: white;
  text-decoration: none;
  font-size: 1.1rem;
}

.nav a:hover {
  color: #5385d4;
  background-color: #f9f7f7;
}

.contest a {
  text-decoration: none;
  color: #5385d4;
}

.contest a:hover {
  color: #8eadde;
}

.main {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #f9f7f7;
  margin-left: 350px;
}

.address-form {
  width: 50%;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.form input[type=text] {
  border: solid 1px lightgrey;
  font-size: 1rem;
  border-radius: 3px;
  padding: 1rem;
  width: 90%;
}

.form input[type=submit] {
  border-radius: 3px;
  font-family: "brandon-grotesque";
  padding: 1.2rem;
  margin-top: 3rem;
  width: 100%;
  background-color: #f1f1f1;
  font-size: 1rem;
  background-color: #e45c5c;
  color: white;
  font-weight: bold;
  border: .5px lightgrey solid;
}

.form input[type=submit]:hover {
  background-color: #5385d4;
}

.form input[type=text]:focus { 
  outline: pink;
}

.ui.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.ui.form .field {
  padding: 3rem 0;
}

.ui.form .field > label {
  color: #5385d4;
}

#vote-h1 {
  color: #5385d4;
  margin-top: 5rem;
  margin-bottom: 3rem;
  font-size: 3rem;
}

.contest h1 {
  color: #e45c5c;
  font-size: 1.7rem;
  text-align: center;
  margin-bottom: 5rem;
  padding-top: 5rem;
}

.poll-wrapper h1, .candidates-h1 {
  color: #e45c5c;
  font-size: 1.7rem;
  text-align: center;
  margin-bottom: 5rem;
  padding-top: 5rem;
}

.contest:first-child {
  margin-top: 5rem;
}

.contest {
  background-color: #fff;
  box-shadow: 1px 1px 10px 1px #efe7e7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 5px;
  width: 100%;
  padding-bottom: 5rem;
  margin-bottom: 5rem;
  text-align: center;
}

.poll, .question {
  background-color: #fff;
  box-shadow: 1px 1px 10px 1px #efe7e7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  max-width: 100%;
  padding-bottom: 3rem;
  margin-bottom: 5rem;
  color: #6b6b6b;
  font-size: 1.3rem;
}

.error {
  color: #6b6b6b;
}

.question {
  padding: 0 6rem 6rem 6rem;
  font-size: 1.3rem;
}

.poll h3, .question h3 {
  color: #5385d4;
  font-size: 1.5rem;
  padding: 4rem 0 3rem 0;
}


.contest-wrapper, .poll-wrapper, .question-wrapper {
  width: 70%;
  margin-top: 3rem;
}

.candidate {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  width: 30%;
}

.candidate h2 {
  font-size: 1.5rem;
}

.candidates {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.D {
  color: #5385d4;
}

.R {
  color: #e45c5c;
}

.O, .L {
  color: #bf6883;
}


@media only screen and (max-width: 1366px) {

  .contest {
    width: 100%;
  }

  .contest-wrapper, .question-wrapper, .poll-wrapper {
    width: 90%;
  }
}

@media only screen and (max-width: 1024px) {

  .App {
    flex-direction: column;
  }

  .nav {
    width: 100%;
    height: 70px;
    z-index: 2;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
  }

  .nav a {
    display: inline;
    margin: 0;
    padding: 2rem 0;
  }

  .poll p {
    text-align: center;
  }

  .main {
    margin: 0;
    padding: 4rem 0;
  }

  .contest {
    width: 100%;
  }

  .contest-wrapper, .question-wrapper, .poll-wrapper {
    width: 90%;
  }

  .question-wrapper {
    margin-top: 8rem;
  }
}

@media only screen and (max-width: 700px) {
  .candidates {
    flex-direction: column;
    align-items: center;
  }

  .candidate {
    margin-bottom: 3rem;
  }

  .contest {
    padding-bottom: 0;
  }

  .contest h1 {
    padding: 2rem 0 0 0;
    margin-bottom: 3rem;
  }

  .error {
    text-align: center;
  }

  .question {
    text-align: center;
    padding: 2rem;
  }

  .nav a {
    font-size: .8rem;
  }

  .nav {
    padding: 0rem 0;
  }
}

@media only screen and (max-width: 500px) {
 
  .address-form {
    width: 90%;
  }

  .form input[type=submit] {
    font-size: 1rem;
  }

  .form input[type=text] {
    font-size: 1rem;
  }

  .main {
    padding: 2rem 0rem;
  }
}
